@import 'partials/normalize';
@import 'mixin';
@import 'partials/slick';


*{
	box-sizing: border-box;
}
body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	color: #424242;
	&.lock{
		overflow: hidden;
	}
}
.wrp{
	background-image: url("../img/body-bg.jpg");
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn{
	width: fit-content;
	display: block;
	text-decoration: none;
	border: 0;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #9BD147;
	font-size: 28px;
	color: #ffffff;
}



//Шапка
@import "componets/header";

//Главная навигация
@import "componets/nav";

//Дополнительная навигация
@import "componets/nav-second";

//Поиск в шапке
@import "componets/search-header";

//Рассылка
@import "componets/subscribe";

//Подвал
@import "componets/footer";

//слайдер на главной
@import "componets/slider-main";
